<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pangu.appbaselibrary">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">

        <activity android:name="com.appbaselib.base.Html5Activity"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
